body {
    align-items: center;
}

#h1 {
    text-align: center;
}


#d1 {
    text-align: center;
}

#n1 {
    background-color: beige;
}

#e1 {
    background-color: beige;
}

#p1 {
    background-color: beige;
}

#a1 {
    background-color: beige;
}

#outputTable {
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}

th,
td {
    border: 1px solid white;
    padding: 8px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}